<link rel="stylesheet" href="/css/pure/pure-min.css">
<link rel="stylesheet" href="/css/pure/grids-responsive-min.css">
<link rel="stylesheet" href="/public/css/styleCar.css">
<div class="banner">
    <h1 class="banner-head">
       Vehicle Repairs<br>
        Current Vehicles
    </h1>
</div>

<div class="l-content">
    <div class="pricing-tables pure-g">
        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-free">
                <div class="pricing-table-header">
                    <h2>Toyota Corolla</h2>

                    <span class="pricing-table-price">
                      <img src="https://platform.cstatic-images.com/xlarge/in/v2/stock_photos/8846c3e8-64b9-42ee-a8dd-abac32f32a99/adde77db-686b-4efd-a8e8-ca828897d633.png" alt="Corolla">
                    </span>
                </div>

                <ul class="pricing-table-list">
                    <li>Break Repairs</li>
                    <li>Tire Rotation</li>
                    <li>Oil Change</li>
                    <li>Air and Cabin Filter Replacement</li>
                </ul>

                <button class="button-choose pure-button">Edit</button>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-biz pricing-table-selected">
                <div class="pricing-table-header">
                    <h2>Jeep Wrangler</h2>

                    <span class="pricing-table-price">
                        <img src="https://smartcdn.prod.postmedia.digital/driving/wp-content/uploads/2021/02/chrome-image-416453.png" alt="Wrangler">
                    </span>
                </div>

                <ul class="pricing-table-list">
                    <li>Oil change</li>
                    <li>Break Repair</li>
                    <li>Tire Replacement</li>
                    <li>Battery Replacement</li>
                </ul>

                <button class="button-choose pure-button">Edit</button>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-enterprise">
                <div class="pricing-table-header">
                    <h2>Toyota Tundra</h2>

                    <span class="pricing-table-price">
                        <img src="https://cloudflarestockimages.dealereprocess.com/resrc/images/stockphoto_asset-c_limit,f_auto,fl_lossy,w_600/v1/svp/Colors_PNG1280/2020/20toyota/20toyotatundrasr5dbltc2ra/toyota_20tundrasr5dbltc2ra_angularfront_quicksand" alt="Tundra">
                    </span>
                </div>

                <ul class="pricing-table-list">
                    <li>Wheel Balance and Rotation</li>
                    <li>Coolant Sytem Services</li>
                    <li>Windshield Wipers and Fluid</li>
                </ul>

                <button class="button-choose pure-button">Edit</button>
            </div>
        </div>
    </div> 
