<h2>Add Customer Info</h2>

<form id="carInfo">
  <label for="fname">First name:</label><br />
  <input type="text" id="fname" name="fname" /><br />

  <label for="lname">Last name:</label><br />
  <input type="text" id="lname" name="lname" /><br />

  <label for="phone">Phone Number:</label><br />
  <input type="text" id="phone" name="phone" /><br />

  <label for="vehicle">Vehicle Info:</label><br />
  <input type="text" id="vehicle" name="vehicle" /><br />
  <br />

  <label for="description">Description:</label><br />
  <input type="text" id="description" name="description" />
  <br />

  <input type="submit" id="btn" name="Submit" />
</form>

<script src="/js/test.js"></script>